body {
  margin: 0px;
  padding: 8px;
}
#commanderContainer {
  display: flex;
  width: 600px;
  flex-direction: column;
  gap: 8px;
  max-height: 600px;
  padding: 8px;
}

.commandRow {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
}

.basicText {
  font-size: 16px;
  margin: 0;
}

textarea {
  padding: 12px;
}
